@font-face {
  font-family: "Magistral";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Magistral-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Magistral";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Magistral-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Magistral";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Magistral-Book.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Magistral";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Magistral-Bold.woff2") format("woff2");
  font-display: swap;
}

